PORT=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=
MY_WHATSAPP_NUMBER=
AI_API_KEY=
LEETCODE_USERNAME=
SCHEDULER_TIMEZONE=Asia/Kolkata
MONGO_URL=
MONGO_DB_NAME=WhatsappBot
REMINDER_POLL_INTERVAL_MINUTES=5
GOOGLE_CREDENTIALS_PATH=client_secret.json
GOOGLE_TOKEN_PATH=token.json